DEEPGRAM_API_KEY=your_deepgram_key
OPENAI_API_KEY=your_openai_key
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_STORAGE_BUCKET=your_bucket.appspot.com
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
PORT=3001

# ComfyUI
COMFYUI_HOST=http://143.248.107.38:8188
COMFYUI_WS=ws://143.248.107.38:8188/ws
COMFYUI_UPLOAD_SERVER=http://143.248.107.38:8185/upload/RoF_output
COMFYUI_VIDEO_HOST=http://143.248.107.38:8186

# ElevenLabs TTS
ELEVENLABS_API_KEY=key_for_elevenlabs
ELEVENLABS_VOICE_ID=qxePw1S1QmBgjlU3GIy5 #Older Joe
ELEVENLABS_MODEL_ID=eleven_v3
