DEEPGRAM_API_KEY=
OPENAI_API_KEY=
FIREBASE_PROJECT_ID=rof-exhibition
FIREBASE_STORAGE_BUCKET=rof-exhibition.firebasestorage.app
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
PORT=3001

# ComfyUI
COMFYUI_HOST=http://143.248.107.38:8188
COMFYUI_WS=ws://143.248.107.38:8188/ws
COMFYUI_UPLOAD_SERVER=http://143.248.107.38:8185/upload/RoF_output
COMFYUI_VIDEO_HOST=http://143.248.107.38:8186

# ElevenLabs TTS
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL_ID=
